%section.hero--apply{style: "background-image: url(#{image_path("backgrounds/postit-wall.jpg")});"}
  .container
    .centered-row
      .column
        %h4.leader developer recruitment
        %h2 Solved
        %p 30 highly-trained junior developers every 6 weeks
    .button-row
      %p
        = link_to "Hire Developers", "http://bit.ly/MA_hire_partial", class: "button button--vertical button--large", target: "_blank"