%section.backgrounded
  .container
    .image-grid-row
      - fetch_logos.shuffle.each do | logo |
        = image_tag logo, { alt: alt_text_from_filename(logo), title: alt_text_from_filename(logo) }