// Important stuff to override everything else

.no-min-height {
  min-height: 0 !important;
}
.no-padding {
  padding: 0 !important;
}
.no-padding-bottom {
  padding-bottom: 0 !important;
}
.no-padding-top {
  padding-top: 0 !important;
}
.small-padding-top {
  padding-top: ma-spacing(1) !important;
}
.no-margin-bottom {
  margin-bottom: 0px !important;
}

// Groove button

#groove-button {
  font-family: $futura !important;
  background-color: $dark-gray !important;
  font-size: $base-font-size !important;
  border: 2px solid rgba(#fff, 0.6) !important;
  border-bottom: 0 !important;
  padding-top: ma-spacing(0.25) !important;
  padding-bottom: ma-spacing(0.25) !important;
  @include media($mobile) {
    display: none !important;
  }

  #gw-header-content {
    font-weight: 500 !important;
  }
}
